$black: #222;
$text-black: #444;
$white: #fff;
$link-black: #666;
$blue: #4d9abf;
$tyrkys: #00c7b7;
$font-title: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$font-size: 16px;

body {
  font-family: $font-text;
  font-size: $font-size;
}

h1 {
  font-family: $font-title;
  font-size: $font-size * 3
}

h2 {
  font-size: $font-size * 2;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.container__col {
  display: block;
  width: 100%;
}

.col {
  display: table-cell;
  padding: 20px 20px;
}

.sidebar {

  width: 30%;
  background-color: $blue;

  &__all {
    padding-left: 10px;
    padding-right: 10px;
  }

  &__image {
    text-align: center;
  }
  &__title {
    padding-top: 10px;
    text-align: center;
  }
  &__subtitle {
    padding-left: 10px;
    padding-top: 5px;
    font-style: italic;
    text-align: center;
  }
  &__description {
    padding-top: 15px;
  }
  &__technologies {
    padding-top: 15px;
    margin-bottom: 30px;
  }

}

.profile-image {
  max-width: 150px;
}

.skills {
  float: left;
  background-color: $black;
  color: white;
  padding: 5px;
  margin: 5px 10px 5px 0;
  font-size: $font-size;
}

.main {
  width: 70%;
  background-color: $white;

  &__title {
    text-align: center
  }
}

.filter {
  display: inline-block;
  &__tag {
    float: left;
    background-color: $black;
    padding: 5px 5px;
    margin: 10px 10px;
    color: white;
    cursor: pointer;
    user-select: none;
    transition-delay: 60ms;

    &:hover {
      background-color: $blue;
    }
  }
  &--selected {
    background-color: red;
    &:hover {
      background-color: red;

    }
  }
  &__title {
    display: block;
    text-align: center;
  }
}


.project {
  background-color: $blue;
  padding: $font-size;
  margin: auto;
  max-width: 80%;
  margin-bottom: 20px;

  &--hide {
    display: none;
  }
  &__title {
    padding: 0 10%;
  }
  &__description {
    padding: 0 10%
  }
  &__detail {
    display: none;
  }
  &__btn {
    text-align: center;

    &-open {
      color: $text-black;
      //background-color: red;
    }
    &-close {

    }
  }
}

.container__footer {
  max-width: 1000px;
  width: 100%;
  margin: auto;
  display: table;
  text-align: center;
  background-color: burlywood;
}

@media only screen and (max-width: 767px) {
  .container__col {
    display: block;
  }
  .col {
    display: table;
    width: 100%;
  }
  .footer {
    width: 100%;
  }
}
