$black: #222;
$dark-grey: #595959;
$grey: #e4e4e4;
$light-grey: #f7f7f7;
$white: #fff;
$blue: #4d9abf;
$blue-hover: #32647c;
$tyrkys: #00c7b7;
$tyrkys-hover: #08a195;
$yellow: #eeb500;
$font-title: 'Roboto Slab', serif;
$font-text: 'Roboto', sans-serif;
$font-size: 16px;

body {
  font-family: $font-text;
  font-size: $font-size;
  margin: 0;
  line-height: 1.6;
  background-color: $light-grey;
  word-break: keep-all
}

h1 {
  font-family: $font-title;
  font-size: $font-size * 4
}

h2 {
  font-family: $font-text;
  font-size: $font-size * 3;
}

h3 {
  font-family: $font-text;
  font-size: $font-size * 2;
}

h5 {
  font-size: $font-size * 1.4;
  font-family: $font-title;
  margin: 10px 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link a {
  color: $dark-grey;
}

.link a:hover {
  color: $black;
}

.link-light-text {
  color: $light-grey
}

.link-phone-footer {
  color: $black
}

.fa-grey {
  color: $white;
}

.fa-yellow {
  color: $yellow;
}

.header {
  background: linear-gradient(45deg, $blue 0, $tyrkys 100%);
  text-align: center;
  padding: 29px 0;

  h1 {
    margin: 31px 0 0;
  }
}

.logo {
  color: $white;
  text-decoration: none;
}

h1 {
  & em {
    color: $white;
    font-weight: 100;
    line-height: 31px;
    font-size: $font-size * 1.5;
    max-width: 244px;
    display: inline-block;
    text-align: left;
    border-left: 1px solid $white;
    padding-left: 16px;
    font-style: normal;
    font-family: $font-text;
  }
  & strong {
    color: $white;
    display: block;
    font-size: $font-size;
    font-weight: 100;
    font-style: italic;
    max-width: 400px;
    margin: 0 auto 35px auto;
    font-family: $font-text;
  }
}

.navbar {
  background-color: $black;
  border-bottom: 1px solid $dark-grey;
  z-index: 100;
}

.menu {
  max-width: 1000px;
  margin: 0 auto;
  &__align {
    text-align: center;
    & ul li {
      color: $light-grey;
      display: inline-block;
      height: 45px;
      line-height: 45px;
    }
  }

  &__contact {
    padding: 0 10px;
  }
}

.main {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;

  &__title {
    text-align: center
  }
}

.filter {
  display: inline-block;
  &__tag {
    float: left;
    background-color: $black;
    border: solid 1px $grey;
    border-radius: 2px;
    padding: 5px 7px;
    margin: 5px 10px;
    color: $white;
    cursor: pointer;
    user-select: none;
    transition: 0.3s;

    &:hover {
      background-color: $blue;
    }
  }
  &--selected {
    background-color: $blue;
    &:hover {
      background-color: $blue;

    }
  }
  &__title {
    display: block;
    text-align: center;
  }
  & ul {
    padding: 0;
    margin: 0;
  }
}

.project {
  background-color: $white;
  padding: 0 20px;
  margin: auto;
  max-width: 70%;
  margin-bottom: 30px;
  border: 1px solid $grey;
  border-radius: 8px;
  box-shadow: 0 0 15px 2px $grey;

  &--hide {
    display: none;
  }
  &__title {
    padding: 15px 0 0 0;
    margin: 0;
  }
  &__description {
    display: inline-block;
  }
  &__details {
    display: none;
    padding: 0 0 0 40px;
    text-align: left;
  }
  .project__single-detail {
    padding: 7px 0;
    &__span {
      font-weight: bold;
      padding-left: 7px;
    }
  }

  &__tag {
    margin: 0 0 0 15px;
    &-single {
      display: inline-block;
      background-color: $dark-grey;
      padding: 3px 7px;
      color: $white;
      margin: 10px 0 10px 15px;
      border-radius: 5px;
    }
  }

  &__btn {
    text-align: center;
    &-open {
      color: $dark-grey;
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
  }

  &__btn-rotate {
    transform: rotate(180deg);
  }
}

.benefits {
  background: linear-gradient(45deg, $blue 0, $tyrkys 100%);
  z-index: 100;
  text-align: center;
  padding: 0 0 30px 0;
  &__col {
    padding-top: 30px;
  }

  &__menu {
    max-width: 1000px;
    margin: 0 auto;

    & ul li {
      color: $white;
      display: inline-block;
      width: 33%;
      vertical-align: top;
    }
  }
}

.footer {
  background: $grey;
  width: auto;
  display: -webkit-box;
  padding: 0 0 10px 0;
  &__container {
    margin: 0 auto;
    max-width: 1000px;
  }
  &__col-1 {
    float: left;
    width: 40%;
    &-inside {
      padding: 20px;
    }
  }
  &__col {
    float: left;
    width: 30%;
  }
  &__img {
    width: 120px;
    margin: 15px auto;
    height: 120px;
    background-image: url("../img/footer-photo-3.jpg");
    border-radius: 60px;
    background-size: cover;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.9);
  }
  &__statement ul {
    padding: 0 0 10px 20px;
  }
  &__statement li {
    list-style: square;
  }
  &__cv {
    font-weight: bold;
  }
  &__tag {
    color: $black;
    font-weight: 600;
    margin: 0 5px 5px 10px;
    display: inline-block;
  }
  &__star {
    display: inline-block;
    vertical-align: middle;
  }
}

.hide--selector {
  display: none;
}

.copyright {
  text-align: center;
  font-size: 14px;
  background: $black;
  color: $light-grey;
  padding: 5px 0;
}

// SCROLL TO TOP BUTTON
// -----------------------
.scroll-to-top {
  position: fixed;
  bottom: 75px;
  right: 40px;
  display: none;
  cursor: pointer;
}

.scroll-to-top i {
  background: linear-gradient(45deg, $blue 0, $tyrkys 100%);
  padding: 10px;
  border-radius: 4px;
}

.scroll-to-top i:hover {
  background: linear-gradient(45deg, $blue-hover 0, $tyrkys-hover 100%)
}

@media only screen and (max-width: 767px) {

  h1 {
    font-size: $font-size * 2;
    & em {
      vertical-align: middle;
    }
    & strong {
      margin: 20px auto 35px auto;
      padding: 0 20px;
    }
  }

  h5 {
    text-align: center;
  }

  .navbar {
    height: initial;
  }
  .menu {
    padding: 12px;

    &__align ul {
      padding: 0;
    }
    &__align ul li {
      display: block;
      text-align: center;
    }
  }

  .project__details {
    padding: 0;
  }

  .benefits {

    &__col {
      padding: 30px 10px 0 10px;
    }
    &__menu ul li {
      display: block;
      width: 100%;
    }
  }

  .footer {
    &__col-1 {
      width: 100%;
    }
    &__col {
      width: 100%;
    }
    &__statement {
      padding: 0 10px;
    }
  }

  // Scroll to Top Button
  .scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    cursor: pointer;
  }

  .scroll-to-top i {
    padding: 5px;
    border-radius: 2px;
  }

}

@media only screen and (max-width: 523px) {
  h1 em {
    margin-left: 33px }
} 

